.about-pics {
    width: 100%;
    height: 40vh;
    background: url('../../images/slider-img/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-pics h2 {
    font-size: 100px;
    color: #fff;
    font-weight: 800;
    padding: 20px;
}

.about-pics small {
    font-size: 2;
    color: #fff;
    font-weight: 800;
    padding: 20px;
    letter-spacing: 10px;
}