.whyus-content {
    display: flex;
    background: #fff;
}

.whyus-container {
    height: 80vh;
    display: grid;
    place-items: center;
    padding-bottom: 50px;
    background: url('../../images//blog/iop.png');
}

.whyus-content .content {
    max-width: 60%;
    height: 450px;
    background: linear-gradient(to right, var(--primary-color), rgb(4, 4, 203), var(--primary-color));
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 5px #ccc, -2px -3px 5px #ccc;
}

.whyus-content .whyus-img {
    width: calc(100% - 40%);
    height: 450px;
}

.text-big-m {
    font-size: 30px;
    font-weight: 800;
}

.house-text h1 {
    font-size: 20px;
    font-weight: 600;
}

.whyus-content .content h1 {
    color: #fff;
}

.content p {
    padding: 12px 0;
    color: #fff;
    text-align: justify;
}

.line::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 10px;
    background: #fff;
    display: flex;
    align-items: center;
}

.house-content {
    margin-top: 20px;
    display: flex;
    gap: 1.5rem;
}

.whyus-img {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    box-shadow: 2px 3px 5px #ccc, -2px -3px 5px #ccc;
    margin-left: 20px;
    border-radius: 20px;
}

.whyus-img .spin-img {
    transform-style: preserve-3d;
    perspective: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whyus-img .spin-img img {
    animation: spin 20s infinite;
    transition: all 20s ease;
    transform: translate3d(42px, -62px, -135px);
    width: 100%;
    image-resolution: 4k;
    /* transform: rotateY(10deg); */
}

.whyus-img .spin-img img:hover {
    cursor: grabbing;
    image-resolution: 4k;
    width: 150%;
    animation: none;
    /* transform: rotateY(10deg); */
}

@keyframes spin {
    20% {
        /* rotate: 0deg; */
        transform: rotateY(0deg);
    }
    50% {
        /* rotate: 10deg; */
        transform: rotateY(20deg);
    }
    80% {
        /* rotate: 10deg; */
        transform: rotateY(0deg);
    }
}

.icon-white {
    color: #fff;
    z-index: 3;
}

.icon-round {
    background: #4b4bf14f;
    backdrop-filter: blur(30px);
    min-width: 60px;
    min-height: 60px;
    padding: 15px;
    border-radius: 50%;
}