.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.nav_logo {
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 800;
}

.nav_logo h1 {
    font-weight: 800;
    font-family: 'Dancing Script', cursive;
}

.nav_container .nav-content ul {
    display: flex;
    flex-direction: row;
}

.nav_container .nav-content ul li {
    padding: 0 20px;
    list-style: none;
    color: var(--primary-color);
}

.nav_container .nav-content ul li a {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

.container {
    height: 80px;
    box-shadow: 2px 3px 5px #ccc;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
}

.nav_container .nav-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_container .nav-profile .profile_container {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 10px;
    border: 2px solid #fff;
}

.nav_container .nav-profile .profile_container:hover,
.nav_container .nav-profile .profile_container:focus {
    border: 2px solid var(--primary-color);
}

.nav_container .nav-profile .profile_container img {
    width: 100%
}

.nav_container .nav-profile .icon-dis {
    font-size: 25px;
    color: var(--primary-color);
    margin-left: 20px;
}

.nav_container .nav-profile .notification::before {
    content: '3';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #ff0000, var(--primary-color));
    top: 22px;
    left: 91.8%;
    color: #fff;
    border: 2px solid #fff;
    font-size: 9px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.nav_container .nav-profile .settings::after {
    content: '2';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* background: #00fd3b; */
    background: linear-gradient(to right, #ff0000, var(--primary-color));
    top: 22px;
    left: 95.8%;
    font-size: 9px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}